@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative);
@import url(https://fonts.googleapis.com/css?family=Arapey);

#slogan {
	color: black;
	text-align: center;
	font-weight: 800;
	text-decoration: underline;
}

footer {
	text-align: center;
	background-color: rgba(0,167,43,.4);
	border: 3px black solid;
	padding: 10px;
	min-width: 80%;
}

header {
	background-color: rgba(182,157,0,.5);
	border: 2px black solid;
	padding: 20px auto;
}

nav {
font-family: "Times New Roman", Georgia, Serif;
margin: 5em 0;
background-color: rgba(100,140,60,.6);
border: 1px rgb(200,0,0) solid;
}

body {
background-color: rgb(164,241,196);
border-style: double;
}

h1 {
color: #000000;
font-weight: bold;
font-family: 'Cinzel Decorative', cursive;
text-decoration: underline;
text-align: center;
text-transform: uppercase;
font-size: 50px;
}
h2{font-weight: 400;
	font-size: 30px;
font-family: sans-serif;
font: "Times New Roman", Times, serif;
color: #ffffff;
text-align: center;
}

h3 {
	color: #000;
	font-family: 'Times New Roman', serif;
	font-weight: bold;
	text-transform: uppercase;
}
.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

p {
font-weight: normal;
color: #000000;
text-align: center;
font-family: 'Arapey', serif;
}

#twocolumn {
	background-color: #FFb7cF;
	border: 1px solid black;
	padding: 20px;
}

#left {
	background-color: #e582a2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 40%;
}

#right {
	background-color: #e55b88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 40%;
}

article {

}

ul{
align-content: center;
list-style-type: none;
}
img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 90px;
	height: auto;
}
