#slogan {
	color: black;
	text-align: center;
	font-weight: 800;
	text-decoration: underline;
}
body {
background-color: rgb(164,241,196);
}

h1 {
color: #000000;
font-weight: bold;
text-decoration: underline;
text-align: center;
text-transform: uppercase;
}

p {
font-weight: normal;
color: #000000;
text-align: center;
}

ul{
align-content: center;
list-style-type: none;
}
img {
	margin-left: auto;
	margin-right: auto;
}
