#slogan {
	color: black;
	text-align: center;
	font-weight: 800;
	text-decoration: underline;
}
body {
background-color: rgb(164,241,196);
border-style: double;
}

h1 {
color: #000000;
font-weight: bold;
text-decoration: underline;
text-align: center;
text-transform: uppercase;
font-size: 50px;
}
h2{font-weight: 400;
	font-size: 30px;
font-family: sans-serif;
font: "Times New Roman", Times, serif;
color: #ffffff;
text-align: center;
}
.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
p {
font-weight: normal;
color: #000000;
text-align: center;
}

ul{
align-content: center;
list-style-type: none;
}
img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
